<div class="container-fluid wrapper">
  <div class="card bg-secondary mb-3 about-app-card">
    <div class="card-header bg-secondary text-white text-center"><h5>ABOUT APP</h5></div>
    <div class="card-body bg-secondary">
      <div class="row">
        <div class="col text-white">
          <div class="logo"></div>
          <p>Todo List is an app which gives you a list of tasks you need to complete or things that you want to do.</p>
          <p>What is a todo list and how can it help in business and daily life?</p>
          <p>Do any of the following seem familiar?</p>
          <br>
          <ul>
            <li>You often feel completely overwhelmed with the amount of work you’ve got to do?</li>
            <li>You sometimes forget to do things that are important</li>
            <li>People have to chase you to get things done</li>
            <li>You find it a struggle to keep to deadlines</li>
          </ul>
          <p>Don’t think you’re unusual because there are thousands of people who struggle with the
            same every day, not just in the workplace but in their personal life too.
            Luckily, there is something very simple you can do to keep your life and work more organised.</p>
        </div>
      </div>
    </div>
  </div>
  <button (click)="redirectToMain()" class="btn btn-primary">Start</button>
</div>
